<div class="row-fluid">
  <div class="span3">
    <%= render :partial=>'left'  %>
  </div>
  <div class="span9">
    <div class="well">
      <h1>
        欢迎进入后台管理
      </h1>
    </div>
  </div>
</div>