<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">系统管理</li>
              <li class="active"><a href="#">学校管理</a></li>
              <li><a href="#">区县管理</a></li>
              <li><a href="#">用户管理</a></li>
              <li><a href="#">考试管理</a></li>
              <li><a href="#">成绩文件管理</a></li>
              <li><a href="#">成绩管理</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->