<div class="page-header">
  <h1>提交文件流程及注意事项</h1>
</div>
<div class="well">
  <h3>一、下载模板，填充数据</h3>
  <span class="label label-warning">注意</span>
  <ol>
    <li>
      下载模板后直接使用，不要另外新建文件。
    </li>
    <li>
      不要更改工作表名称和顺序，不要更改第一行的列标题和顺序。
    </li>
    <li>
      姓名为文本，各科成绩为数值,不能用公式。
    </li>
    <li>
      缺考成绩留空。0视作0分。各科不能超过满分值。
    </li>
    
  </ol>
  
</div>
<div class="well">
  <h3>二、上传文件</h3>
  <span class="label label-warning">注意事项</span>
  <ol>
    <li>
      不能上传非xls文件。
    </li>
    <li>
     大小不能超过5M
    </li>
  </ol>

</div>
<div class="well">
  <h3>三、文件检测，核查数据</h3>
  <span class="label label-warning">注意事项</span>
  <ol>
    <li>
      文件上传后将自动进行文件检测，请等候。
    </li>
    <li>
      如工作表名称不符将显示出错信息，表中数据将不再读取。
    </li>
    <li>
      检测结果将显示文件中包含记录总数及错误的数据数。若有错误数据，请点击按钮<a class="btn btn-info"  >查看文件检测详细结果</a>
    </li>
    <li>
      请点击按钮<a class="btn btn-info"  >核对文件数据</a>,核对系统读取到的数据。
    </li>
  </ol>

</div>
<div class="well">
  <h3>四、有错重传，无错确认。</h3>
  <span class="label label-warning">注意事项</span>
  <ol>
    <li>
      如文件检测有错，请修改文件数据后重新上传。
    </li>
    <li>
      如文件检测没有错误，并核对系统读取数据无误，请点击按钮<button class="btn btn-success ">确认</button>
    </li>
    <li>
      确认后将不能再改，如确有必要修改需联系管理员。
    </li>
  </ol>

</div>