<% if current_user.is_admin? %>
  <div class="hero-unit">
    <h1>成绩文件上传
      <small>

      </small>
    </h1>
    <hr/>
    <p>
      <%= current_user.login %>,您好!
      你是管理员。
    </p>
    <a href="/admin" class="btn btn-primary btn-large">管理页面</a>
  </div>
<% else %>

    <ul class="thumbnails">

      <li class="span4" >
    <div class="thumbnail" style="height:160px;">
    <%#*<img data-src="holder.js/300x200" alt=""/>%>
    <h3 style="text-align: center;">教学质量监测试卷订单</h3>
    <p style="text-align: center;"></p>
    <p style="text-align: center;">
<a class="btn btn-primary" href="/orders">提交试卷订单</a>

</p>
    </div>
    </li>
    
    <li class="span4">
    <div class="thumbnail" style="height:160px;">
    <%#*<img data-src="holder.js/300x200" alt=""/>%>
    <h3 style="text-align: center;">教学质量监测成绩文件上传</h3>
    
    <p style="text-align: center;">
     
    </p>
    <p style="text-align: center;">
<a class="btn btn-primary" href="/welcome/exam">成绩文件上传</a>

</p>
    </div>
    </li>

    <li class="span4">
    <div class="thumbnail" style="height:160px;">
    <%#*<img data-src="holder.js/300x200" alt=""/>%>
    <h3 style="text-align: center;">教学质量监测分析模板下载</h3>

    <p style="padding-left: 5px;">
      <a href="/ysy.doc" class="btn"><i class="icon-download-alt"></i>下载语数英质量分析模板</a>
    </p>
    <p style="padding-left: 5px;">
    <a href="/zsdlhs.doc" class="btn"><i class="icon-download-alt"></i>下载政史地理化生质量分析模板</a><br/>

    </p>
    <p style="text-align: center;">


</p>
    </div>
    </li>
    
    </ul>



<%#= render '/share/score_help' %>

<% end %>

