<h1>New score_file</h1>

<% form_for(@score_file,:html=>{ :multipart => true} ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= file_field_tag 'score_file[file]', :size => 30, :id => nil  -%>
    
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', score_files_path %>