<div>
  <ul>


  <% @paper_orders.each do |paper_order| %>
    <li>
      <%= paper_order.name %> |
      <% if order=@school.order_items.find_by_paper_order_id(paper_order.id) %>
      <%= link_to "查看订单",order_path(order)  %>
      <% else %>
      <%= link_to "新建订单",:action=>'new',:paper_order_id=>paper_order %>
      <% end %>
    </li>

  <% end %>
    </ul>
</div>